<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
  <div class="container-fluid mb-5">
    <h2>Assignment</h2>

    


    <form #userForm="ngForm">

        {{ userForm.vale | json }}


      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="yourname" ngForm>
      </div>
      

      <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control">
        </div>



        <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control">
          </div>



        



         <div class="mb-3">
           <label>Time preference</label>
           <div class="form-check">
             <input class="form-check-input" type="radio" name="timepreference" value="morning" ngForm>
             <label class="form-check-label">Morning(9am - 12pm)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="timepreference" value="morning" ngForm>
              <label class="form-check-label">evening(3pm - 6pm)</label>
 
            </div>
          </div>



          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Send me promotional offers</label>
          </div>



          <button class="btn btn-primary" type="submit">Submit form</button>

    </form>
  </div>



 
